.App {
  font-family: sans-serif;
  height: 95vh;
  touch-action: none;
}

.grid {
  width: fit-content;
  display: flex;
  flex-direction: column;
  border: 2px solid black;
}

.row {
  display: flex;
  flex-direction: row;
}

.gridCell {
  width: calc(min(100vw, 100vh) / 50);
  height: calc(min(100vw, 100vh) / 50);
  /* border: 0.1px solid; */
}

.gridCell.empty {
  background-color: white;
}

.gridCell.snake {
  background: linear-gradient(145deg, #444, #000);
  border-radius: 6px;
}

.gridCell.food {
  background: radial-gradient(circle at center, #ff89a4, #ff0044);
  border-radius: 50%;
  z-index: 1;
  animation: pulse 1s infinite alternate;
}

@keyframes pulse {
  from { box-shadow: 0 0 2px #a00; }
  to   { box-shadow: 0 0 8px #f00; }
}
